[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-wtf = "*"
flask-limiter = "*"
flask-talisman = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
openpyxl = "*"
reportlab = "*"
pillow = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.14"
